literature/
*.tif
*.tiff
*.shp
*.dbf
*.shx
*.prj
*.zip
*.rds
*.vrt
*.xml
*.ovr
*.cpg
*.sbn
*.sbx
*.lock
*.tfw
*.aux.xml
*.xml
*.ovr
*.dbf
*.prj
*.sbn
*.sbx
*.shx
*.cpg
*.sr.lock
*.lock
Slurm*/
results/
report/
